@{
    ViewBag.Title = "Home Page";
}

<div class="intro">
    <h1>DocuSign Webhook Recipe</h1>
    <h2>No More Polling!</h2>
    <p class="lead">Please use the navigation bar, above, to first send the signature request, then view the signature events via a webhook.</p>
</div>